@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  min-height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px transparent inset;
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  box-shadow: 0 0 0px 1000px transparent inset;
  -moz-text-fill-color: inherit;
}

.datepicker-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0);
}

.datepicker-input--dark::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.datepicker-input {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
